# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
bower_components/
typings/

# Build output
dist/
dist-ssr/
build/Release/
.next/
.nuxt/
.vuepress/dist/
.serverless/
.fusebox/

# Coverage
coverage/
*.lcov
lib-cov/
.nyc_output/

# Environment files
.env
.env.*
*.local

# Caches
.cache/
.eslintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.yarn-integrity

# Editors / IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Misc
.npm
.node_repl_history
*.tgz
.lock-wscript
.grunt
.dynamodb/
.tern-port
*.tsbuildinfo